.report-to-sap-gallery .card {
    min-height: 675px;
}

.report-to-sap-gallery .card .card-body {
    flex: 1 1 auto; 
    padding: 2rem;
}

.report-to-sap-gallery .card .picture{
    vertical-align: middle;
    height: 425px;
    width: 100%;
    border-radius: 0.7rem !important;
}

.report-to-sap-gallery .card .to-sap-picture {
    vertical-align: middle;
    height: 425px;
    width: 100%;
    border-radius: 0.7rem !important;
}

.report-to-sap-gallery .card .caption-txt {
    font-size: 12px;
    background: #f2f7ff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 12px;
}

.report-to-sap-gallery .card .caption-buttons button{
    min-width: 150px;
}